<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Concobo tours</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="css/menu.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        
        <!--  Templates Layout -->
        <header th:replace="layout/plantilla :: header" />
        
        <section>
            <h1 class="title-index"> Bienvenidos a Concobo Tours </h1>
            <div class="center">
                <img src="images/index-image.jpg" alt="" class="img-index"/>
            </div>  
        </section>
    </body>
</html>
