<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="../static/css/usuarios.css" rel="stylesheet" type="text/css" />
        <link href="css/menu.css" rel="stylesheet" type="text/css"/>
        <link href="css/estilosInsertar.css" rel="stylesheet" type="text/css"/>
        
    </head>
    <body>
        <nav>
            <a class="name" href="/"><h2>Concobo tours</h2></a>
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="/listar">Listar <i class="icon ion-md-arrow-dropdown"></i></a></li>
                <li><a href="/insertar">Insertar</a></li>
                <li><a href="/contactenos">Contactenos <i class="icon ion-md-arrow-dropdown"></i></a></li>
                 
            </ul>
        </nav>
        
        <div class="table-title">
            <h3>Lista de Usuarios</h3>
        </div>
        <table class="table-fill" >
            <thead>
                <tr>
                    <th class="text-left">Nombre</th>
                    <th class="text-left">Apellidos</th>
                    <th class="text-left">Correo</th>
                    <th class="text-left">Telefono</th>
                    <th class="text-left">Modificar</th>
                    <th class="text-left">Eliminar</th>
                </tr>
            </thead>
            <tbody class="table-hover">
                <tr>
                    <td class="text-left">Justin</td>
                    <td class="text-left"> Varela C</td>
                    <td class="text-left"> prueba123@gmail.com</td>
                    <td class="text-left"> 12345678 </td>
                    <td class="text-left"> <a href="/"> Modificar </a>  </td>
                    <td class="text-left"> <a href="/"> Eliminar </a> </td>
                </tr>
                <tr>
                    <td class="text-left">Justin</td>
                    <td class="text-left"> Varela C</td>
                    <td class="text-left"> prueba123@gmail.com</td>
                    <td class="text-left"> 12345678 </td>
                    <td class="text-left"> <a href="/"> Modificar </a>  </td>
                    <td class="text-left"> <a href="/"> Eliminar </a> </td>
                </tr>
                <tr>
                    <td class="text-left">Justin</td>
                    <td class="text-left"> Varela C</td>
                    <td class="text-left"> prueba123@gmail.com</td>
                    <td class="text-left"> 12345678 </td>
                    <td class="text-left"> <a href="/"> Modificar </a>  </td>
                    <td class="text-left"> <a href="/"> Eliminar </a> </td>
                </tr>
                
            </tbody>
        </table>

    </body>
</html>
